<div class="user-preferences" ng-controller="UserCtrl">
    <div class="form-view bar-layout" ng-class="{'mid-form': isMidForm()}">
        <div class="row">
            <div class="user-preferences-header col-md-12">
                <h3 x-translate>Preferences</h3>
            </div>
        </div>
        <div class="row">
            <div ui-view-form x-handler="this" class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="user-preferences-footer col-md-12">
                <button class="btn btn-primary" ng-click="onSave()" ng-disabled="!canSave()" x-translate>Save</button>
                <button class="btn" x-translate ng-click="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>